@using SatisfactoryProductionator.DataModels.Models.Codex;
@using SatisfactoryProductionator.Services;

@inject PermModalState PermModalState;
@inject CodexState CodexState;

@implements IDisposable;



<div data-augmented-ui="tl-2-clip-y tr-2-clip-x br-clip bl-clip border" class="top-panel">
    <div data-augmented-reset></div>
    <div data-augmented-ui="br-clip bl-clip border" class="top-panel-inner">

        <div data-augmented-ui="tl-2-clip-y tr-clip br-2-clip-y bl-clip border" class="selected-list">
        </div>

        <div data-augmented-ui="tl-2-clip-y tr-clip br-clip bl-clip border" class="selected-perm flex-center">
            @if (PermModalState.SelectedItem == null)
            {
                <div class="select-item-text">Select Item</div>
            }
            else
            {
                <table class="selected-options">
                    <tr>
                        <td>
                            <div class="selected-text">@PermModalState.SelectedItem.DisplayName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="center-bar">
                                <div data-augmented-ui="tl-clip tr-2-clip-x br-clip bl-clip border" class="pos-abs remove-btn">
                                    <button type="button" class="btn-full" @onclick="@(() => PermModalState.RemoveSelected())">
                                        <span>Remove</span>
                                    </button>
                                </div>

                                <img class="image-96 pos-abs selected-image" src=@PermModalState.SelectedItem.IconPath alt=@PermModalState.SelectedItem.ClassName />

                                <div data-augmented-ui="tl-2-clip-x tr-clip br-clip bl-clip border" class="pos-abs add-update-btn">
                                    <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddUpdateSelected())">
                                        <span>Add</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                      <tr>
                          <td>
                            <div data-augmented-ui="tl-2-clip-x tr-2-clip-x bl-clip br-clip border" class="input-range">
                                @{
                                    Amount = PermModalState.SelectAmount;
                                }

                                <input type="text" maxlength="5" @bind="Amount" @oninput="UpdateAmount" @onblur="SetAmount" class="num-input no-spin" />

                                <div class="flex-middle selector-bar">
                                    <div data-augmented-reset></div>
                                    <div data-augmented-ui="tl-clip r-clip bl-clip border" class="flex-middle sub-btn sub-100">
                                        <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddAmount(-100))">
                                            <span>100</span>
                                        </button>

                                    </div>
                                    <div data-augmented-ui="tl-clip r-clip bl-clip border" class="flex-middle sub-btn sub-10">
                                        <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddAmount(-10))">
                                            <span>10</span>
                                        </button>
                                    </div>
                                    <div data-augmented-ui="tl-clip r-clip bl-clip border" class="flex-middle sub-btn sub-1">
                                        <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddAmount(-1))">
                                            <span>1</span>
                                        </button>
                                    </div>

                                    <div data-augmented-ui="tr-clip l-clip br-clip border" class="flex-middle add-btn add-1">
                                        <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddAmount(1))">
                                            <span>1</span>
                                        </button>
                                    </div>
                                    <div data-augmented-ui="tr-clip l-clip br-clip border" class="flex-middle add-btn add-10">
                                        <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddAmount(10))">
                                            <span>10</span>
                                        </button>
                                    </div>
                                    <div data-augmented-ui="tr-clip l-clip br-clip border" class="flex-middle add-btn add-100">
                                        <button type="button" class="btn-full" @onclick="@(() => PermModalState.AddAmount(100))">
                                            <span>100</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                          </td>
                      </tr>  
                </table>
            }



        </div>

        <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip border" class="btn-bar">
            <div data-augmented-ui="all-hex border" class="perm-close btn-outer center-content">
                <div data-augmented-ui-reset></div>
                <button type="button" class="btn-x center-content" @onclick=@PermModalState.CloseModal>
                    <div data-augmented-ui="all-hex border" class="btn-middle center-content">
                        <div data-augmented-ui-reset></div>
                        <div data-augmented-ui="all-hex border" class="btn-inner center-content">
                            <div data-augmented-ui-reset></div>
                            <div class="btn-icon icon-close oi-x" aria-hidden="true"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<div data-augmented-ui="tl-clip tr-clip br-2-clip-y bl-2-clip-x border" class="bottom-panel">
    <div data-augmented-reset></div>
    <div data-augmented-ui="tl-clip tr-clip border" class="bottom-panel-inner">
        <Automatables />
    </div>
</div>

@code {
    private static int Amount;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        PermModalState.OnStateChange += StateHasChanged;
        CodexState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        PermModalState.OnStateChange -= StateHasChanged;
        CodexState.OnStateChange -= StateHasChanged;
    }

    public List<Item> GetItems()
    {
        var items = CodexState.GetAutomatableItems();

        return items;
    }

    public void SetAmount()
    {
        PermModalState.SetAmount(Amount);
    }

    public void UpdateAmount(ChangeEventArgs e)
    {
        var input = e.Value.ToString();

        if (int.TryParse(e.Value.ToString(), out int result))
        {
            if (input.Length <= 5 && result <= 10000)
            {
                Amount = result;
            }
            else
            {
                Amount = 10000;
            }
        }

        SetAmount();
    }
}
