@using SatisfactoryProductionator.DataModels.Enums;
@using SatisfactoryProductionator.DataModels.Models.Codex;
@using SatisfactoryProductionator.DataModels.Models;
@using SatisfactoryProductionator.Extensions;
@using SatisfactoryProductionator.Services;

@inject CodexModalState CodexModalState;
@inject CodexState CodexState;

@implements IDisposable

<table class="page-table w99">
    <tr>
        <td colspan="4" class="page-header w99">@selectedEntry.GetPageHeader().FormatCategoryName()</td>
    </tr>
    <tr>
        <td>
        @{
            var fuelBundle = BundleFuelInputs();
        }
            <table class="w99">
                @foreach(var group in fuelBundle)
                {
                <tr class="flex-even w99">
                
                    @foreach (var item in group)
                    {
                        <td>
                            @if (fuelBundle.Count > 1)
                            {
                                <button class="image-button" type="button" @onclick="@(() => CodexModalState.SetSelectedItem(item.Key))">
                                        <img class="image-96" src=@CodexState.FetchIconPath(item.Key) alt=@item.Key />
                                        <div class="font-16 mt-4"> @Math.Round(item.Value[1], 2)/min</div>
                                </button>
                            }
                            else
                            {
                                    <button class="image-button mt-48" type="button" @onclick="@(() => CodexModalState.SetSelectedItem(item.Key))">
                                    <img class="image-128" src=@CodexState.FetchIconPath(item.Key) alt=@item.Key />
                                        <div class="font-16 mt-4"> @Math.Round(item.Value[1], 2)/min</div>
                                </button>
                            }
                        </td>
                    }
                </tr>
                }
            </table>
        </td>
    </tr>
</table>


@code {
    [CascadingParameter(Name = "SelectedEntry")]
    public ModalEntry selectedEntry { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        CodexModalState.OnStateChange += StateHasChanged;
        CodexState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        CodexModalState.OnStateChange -= StateHasChanged;
        CodexState.OnStateChange -= StateHasChanged;
    }

    private Recipe GetFuels()
    {
        var classNames = selectedEntry.GetEntries();

        return CodexState.FetchRecipes(classNames).First();
    }

    private List<List<KeyValuePair<string, double[]>>> BundleFuelInputs()
    {
        List<List<KeyValuePair<string, double[]>>> items = new();

        var inputs = GetFuels().Inputs.ToList();
        var tempList = new List<KeyValuePair<string, double[]>>();

        foreach (var entry in inputs)
        {
            tempList.Add(entry);

            if(tempList.Count % 5 == 0)
            {
                items.Add(tempList);
                tempList = new List<KeyValuePair<string, double[]>>();
            }
        }

        if(tempList.Count > 0) 
        {
            items.Add(tempList);
        }

        return items;
    }
}
