
<div data-augmented-ui="tl-clip tr-clip br-clip bl-2-clip-x r-clip-y border" class="info-panel-recipe">
   @*  @if (_currentRecipePage == null)
    {
        <p class="info-panel-no-recipe-message">No Recipes </p>
    }
    else
    {
        <table class="info-panel-recipe-table">
            @{
                _currentRecipeType = null;
            }
            @foreach (var recipe in _currentRecipePage.Recipes!)
            {
                if (_currentRecipeType == null || (_currentRecipePage.PageType == PageType.Main && _currentRecipeType == RecipeType.Basic && recipe.RecipeType == RecipeType.Alternate))
                {
                    _currentRecipeType = recipe.RecipeType;
                    <tr>
                        <td colspan="4" class="info-panel-recipe-header">@FormatCategoryName(GetRecipePageHeader(_currentRecipePage.PageType, recipe.RecipeType))</td>
                    </tr>
                }
                <tr>
                    <td>
                        @if (recipe.RecipeType is RecipeType.Basic)
                        {
                            <div class=@CssIsDefault(recipe)>
                                <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip border" class="info-panel-recipe-name-basic">
                                    <button type="button" class="info-panel-recipe-name-button" @onclick="@(() => SetRecipeDetails(recipe.DisplayName))">
                                        @FormatDisplayName(recipe.DisplayName!)
                                    </button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class=@CssIsDefault(recipe)>
                                <div data-augmented-ui="tl-2-clip-x tr-2-clip-x br-2-clip-x b-clip-x bl-2-clip-x border" class="info-panel-recipe-name-alternate">
                                    <button type="button" class="info-panel-recipe-name-button" @onclick="@(() => SetRecipeDetails(recipe.DisplayName))">
                                        @FormatDisplayName(recipe.DisplayName!)
                                    </button>
                                </div>
                            </div>
                        }

                    </td>
                    <td>
                        <table>
                            <tr>
                                @foreach (var item in recipe.Inputs!)
                                {
                                    <td>
                                        <button class="main-panel-category-button info-panel-recipe-button" type="button" @onclick="@(() => AddItemRecipe(item.Key!))">
                                            <img class="info-panel-recipe-image" src=@GetIconLocation(item.Key) alt=@item.Key />
                                            <div class="info-panel-recipe-quantity">@Math.Round(item.Value[1], 2)/min</div>
                                        </button>
                                    </td>
                                }
                            </tr>
                        </table>
                    </td>
                    <td> >>> </td>
                    <td>
                        <table>
                            <tr>
                                @foreach (var item in recipe.Outputs!)
                                {
                                    <td>
                                        <button class="main-panel-category-button info-panel-recipe-button" type="button" @onclick="@(() => AddItemRecipe(@item.Key!))">
                                            <img class="info-panel-recipe-image" src=@GetIconLocation(item.Key) alt=@item.Key />
                                            <div class="info-panel-recipe-quantity">@Math.Round(item.Value[1], 2)/min</div>
                                        </button>
                                    </td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </table>
        @if (GetPageCount() > 1)
        {
            <div data-augmented-ui-reset class="info-panel-recipe-paging">
                <div class="info-panel-recipe-paging-pages">
                    @for (var i = 0; i < GetPageCount(); i++)
                    {
                        <div class=@ParseCssPageLight(i)></div>
                    }
                </div>
                <div class="info-panel-recipe-paging-nav">
                    <button type="button" class="info-panel-recipe-paging-nav-button" @onclick=@InfoPageLeft>
                        <span class="info-panel-paging-nav-icon oi-caret-left" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="info-panel-recipe-paging-nav-button" @onclick=@InfoPageRight>
                        <span class="info-panel-paging-nav-icon oi-caret-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        }
    } *@
</div>


@code {

}
