@using SatisfactoryProductionator.DataModels.Enums;
@using SatisfactoryProductionator.DataModels.Models.Modal;
@using SatisfactoryProductionator.Services.States;

@inject CodexModalState CodexModalState;

@implements IDisposable;

<div class="info-buttons-wrapper">

    <div data-augmented-ui="all-hex border" class="btn-outer center-content">
        <div data-augmented-ui-reset></div>
        <button type="button" class="btn-clear center-content" @onclick=@CodexModalState.ClearModal>
            <div data-augmented-ui="all-hex border" class="btn-middle center-content">
                <div data-augmented-ui-reset></div>
                <div data-augmented-ui="all-hex border" class="btn-inner center-content">
                    <div data-augmented-ui-reset></div>
                    <span class="btn-icon oi-trash" aria-hidden="true"></span>
                </div>
            </div>
        </button>
    </div>

    <div data-augmented-ui="all-hexangle-left border" class="btn-outer center-content @IsPrevActiveCss()">
        <div data-augmented-ui-reset></div>
        <button type="button" disabled=@IsPrevDisabled() class="btn-nav center-content" @onclick=@CodexModalState.DisplayPrevious>
            <div data-augmented-ui="all-hexangle-left border" class="btn-middle center-content @IsPrevActiveCss()">
                <div data-augmented-ui-reset></div>
                <div data-augmented-ui="all-hexangle-left border" class="btn-inner center-content @IsPrevActiveCss()">
                </div>
            </div>
        </button>
    </div>

    <div data-augmented-ui="all-hexangle-right border" class="btn-outer center-content @IsNextActiveCss()">
        <div data-augmented-ui-reset></div>
        <button type="button" disabled=@IsNextDisabled() class="btn-nav center-content" @onclick=@CodexModalState.DisplayNext>
            <div data-augmented-ui="all-hexangle-right border" class="btn-middle center-content @IsNextActiveCss()">
                <div data-augmented-ui-reset></div>
                <div data-augmented-ui="all-hexangle-right border" class="btn-inner center-content @IsNextActiveCss()">
                </div>
            </div>
        </button>
    </div>

    <div data-augmented-ui="all-hex border" class="btn-outer center-content">
        <div data-augmented-ui-reset></div>
        <button type="button" class="btn-x center-content" @onclick=@CodexModalState.CloseModal>
            <div data-augmented-ui="all-hex border" class="btn-middle center-content">
            <div data-augmented-ui-reset></div>
                <div data-augmented-ui="all-hex border" class="btn-inner center-content">
                    <div data-augmented-ui-reset></div>
                    <div class="btn-icon icon-close oi-x" aria-hidden="true"></div>
                </div>
            </div>
        </button>
    </div>

</div>

@code {
    [CascadingParameter(Name = "SelectedEntry")]
    public ModalEntry selectedEntry { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        CodexModalState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        CodexModalState.OnStateChange -= StateHasChanged;
    }

    private string IsPrevActiveCss() => CodexModalState.BackStack.Count > 0 ? "" : "inactive";

    private string IsNextActiveCss() => CodexModalState.FrontStack.Count > 0 ? "" : "inactive";

    private bool IsPrevDisabled() => !(CodexModalState.BackStack.Count > 0);

    private bool IsNextDisabled() => !(CodexModalState.FrontStack.Count > 0);
}
