<div data-augmented-ui=" tl-clip tr-clip br-clip bl-clip border" class="nav-panel">
    <nav data-augmented-ui-reset class="aug-navbar-column">

        <div data-augmented-ui="tl-clip tr-clip br-clip-inset bl-clip border" class="@navUL" @onmouseover=OnMouseOverUL @onmouseout=OnMouseOut>
            <NavLink href="codex">
                <span class="nav-oi nav-oi-ul oi-aperture" aria-hidden="true"></span>
                <div class="nav-text-ul">Codex</div>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip-inset border" class="@navUR" @onmouseover=OnMouseOverUR @onmouseout=OnMouseOut>
            <NavLink href="grapher" Match="NavLinkMatch.All">
                <span class="nav-oi nav-oi-ur oi-fork" aria-hidden="true"></span>
                <div class="nav-text-ur">Grapher</div>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip border" class="@navCenter" @onmouseover=OnMouseOverCenter @onmouseout=OnMouseOut>
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="nav-oi nav-oi-center oi-home" aria-hidden="true"></span>
                <div class="nav-text-center">Home</div>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip tr-clip-inset br-clip bl-clip border" class="@navBL" @onmouseover=OnMouseOverBL @onmouseout=OnMouseOut>
            <NavLink href="permutator" Match="NavLinkMatch.All">
                <span class="nav-oi nav-oi-bl oi-spreadsheet" aria-hidden="true"></span>
                <div class="nav-text-bl">Permutator</div>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip-inset tr-clip br-clip bl-clip border" class="@navBR" @onmouseover=OnMouseOverBR @onmouseout=OnMouseOut>
            <NavLink href="settings">
                <span class="nav-oi nav-oi-br oi-cog" aria-hidden="true"></span>
                <div class="nav-text-br">Settings</div>
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private static string navCenter;
    private static string navUL;
    private static string navUR;
    private static string navBL;
    private static string navBR;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        navCenter = "nav-item nav-item-center";
        navUL = "nav-item nav-item-ul";
        navUR = "nav-item nav-item-ur";
        navBL = "nav-item nav-item-bl";
        navBR = "nav-item nav-item-br";
    }

    private void OnMouseOverUL()
    {
        navCenter = "nav-item nav-item-center nav-item-shrink";
        navUL = "nav-item nav-item-ul nav-item-hover";
        navUR = "nav-item nav-item-ur nav-item-shrink";
        navBL = "nav-item nav-item-bl nav-item-shrink";
        navBR = "nav-item nav-item-br nav-item-shrink";
    }

    private void OnMouseOverUR()
    {
        navCenter = "nav-item nav-item-center nav-item-shrink";
        navUL = "nav-item nav-item-ul nav-item-shrink";
        navUR = "nav-item nav-item-ur nav-item-hover";
        navBL = "nav-item nav-item-bl nav-item-shrink";
        navBR = "nav-item nav-item-br nav-item-shrink";
    }

    private void OnMouseOverCenter()
    {
        navCenter = "nav-item nav-item-center nav-item-hover";
        navUL = "nav-item nav-item-ul nav-item-shrink";
        navUR = "nav-item nav-item-ur nav-item-shrink";
        navBL = "nav-item nav-item-bl nav-item-shrink";
        navBR = "nav-item nav-item-br nav-item-shrink";
    }

    private void OnMouseOverBL()
    {
        navCenter = "nav-item nav-item-center nav-item-shrink";
        navUL = "nav-item nav-item-ul nav-item-shrink";
        navUR = "nav-item nav-item-ur nav-item-shrink";
        navBL = "nav-item nav-item-bl nav-item-hover";
        navBR = "nav-item nav-item-br nav-item-shrink";
    }

    private void OnMouseOverBR()
    {
        navCenter = "nav-item nav-item-center nav-item-shrink";
        navUL = "nav-item nav-item-ul nav-item-shrink";
        navUR = "nav-item nav-item-ur nav-item-shrink";
        navBL = "nav-item nav-item-bl nav-item-shrink";
        navBR = "nav-item nav-item-br nav-item-hover";
    }

    private void OnMouseOut()
    {
        navCenter = "nav-item nav-item-center";
        navUL = "nav-item nav-item-ul";
        navUR = "nav-item nav-item-ur";
        navBL = "nav-item nav-item-bl";
        navBR = "nav-item nav-item-br";
    }
}